/* page */
*::selection {
	background-color: rgba(134, 183, 31, 0.2);
}

body {
	font-family: Calibri, sans-serif;
	font-size: 12px;
}

/* menu */
nav > ul.menu > li {
	display: inline;
	margin: 10px;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	list-style: none;
}

nav > ul.menu > li > a {
	color: orange;
	text-decoration: none;
}

nav > ul.menu > li > a:hover {
	background-color: rgb(245, 246, 160); /*rajout*/
	text-decoration: underline;
}

nav > ul.menu > li > a:visited {
	color: fuchsia; /*darkred couleur de correction*/
	text-decoration: underline;
}

nav > ul.menu > li:first-child::after {
	content: "\0020 \2302";
	color: #b9482b;
}

/* titres */
h1 {
	color: #bc8e14;
}

h2,
h3,
h4 {
	color: #729e0e;
}

article > h2::before {
	content: "\2708 ";
}

h4 {
	text-decoration: underline;
}

/* paragraphes */
section > p {
	padding: 10px;
	border: 1px solid grey;
}

p:not(.description),
p:not(.information) {
	font-style: italic;
}
