*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Source sans pro", sans-serif;
  line-height: 1.625;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.header {
  color: #fff;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.922045),
      rgba(54, 54, 54, 0.5) 39.24%,
      rgba(28, 28, 28, 0)
    ),
    url(img/butterflyresize494x165.jpg) center center / cover no-repeat;
}

.topbar {
  padding: 5px 0px;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  padding-top: 2px;
}

.menu-item {
  margin: 0 10px;
}
.menu-item:hover {
  color: #c89446;
}

.menu-button {
  border: solid 1px #c89446;
  padding: 0px 10px;
  transition-property: color, background-color;
}

.menu-button:hover {
  background: #c89446;
  color: #fff;
}

.baseline {
  margin: 40px 0 70px 0;
  text-align: center;
  line-break: 1;
}

.baseline-welcome {
  color: #ca9039;
  font-family: "Pinyon script", serif;
  font-size: 1.6rem;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin: ;
}

.baseline-name {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
}
.baseline-slogan {
  font-size: 1rem;
  font-weight: 300;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home-section {
  padding-top: 9px;
}

.container-small {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}

.block {
  margin-bottom: 50px;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
  letter-spacing: 2px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #000;
}

.title::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #c89446;
  margin-bottom: 0.5rem;
}

.title span {
  font-family: "Pinyon script", serif;
  color: #c89446;
  font-size: 2.5rem;
  display: block;
  text-transform: none;
}

.more {
  color: #c89446;
}
.more:hover {
  text-decoration: underline;
}

.more::after {
  content: " >";
}

.block-left .block-img {
  border: solid 1px #c89446;
  max-width: 225px;
  margin: 0 auto;
}

.block-right .block-img {
  border: solid 1px #c89446;
  max-width: 300px;
  margin: 0 auto;
}

.block-centered .block-img {
  border: solid 1px #c89446;
  max-width: 275px;
  margin: 0 auto;
}

.block-img img {
  display: block;
  position: relative;
  z-index: 1;
}

.block-centered {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
  body {
  }
  .header {
    min-height: 370px;
  }
  .topbar {
    display: flex;
    max-width: 1110px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  .baseline {
    margin-top: 170px;
  }
  .baseline-welcome {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .baseline-name {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 800px) {
  .block {
    margin-bottom: 100px;
  }

  .block-left,
  .block-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .block-img {
    border: none;
    position: relative;
  }

  .block-left .block-body,
  .block-right .block-body {
    width: 445px;
    flex: none;
  }

  .block-img::before {
    content: "";
    display: block;
    border: solid 1px #c89446;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .block-centered .block-img::before {
    left: auto;
    right: -30px;
  }
  .block-left .block-img {
    width: 350px;
    margin-left: 30px;
  }

  .block-right .block-img {
    margin-right: 30px;
  }

  .block-left .block-body {
    margin-left: 94px;
  }

  .block-right .block-body {
    margin-right: 20px;
    order: -1;
  }

  .block-centered .block-body {
    margin-right: 20px;
  }

  .title {
    margin-bottom: 1.2rem;
  }

  .title::before {
    margin-bottom: 10px;
  }

  .more {
    display: block;
    margin-top: 1.3rem;
  }
  /* .home-section {
    background: fixed top 95px right 0 url(img/tortue.jpg) no-repeat,
      fixed top 640px left 0 url(img) no-repeat;
  } */
}
